<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Editor Js </title>
  <link rel="stylesheet" href="https://cdn.plugdo.com/css/enterpriseui.min.css" />
  <script src="https://cdn.plugdo.com/js/plugdo-dependency.min.js"></script>
  <script src="https://cdn.plugdo.com/js/plugdoeui.min.js"></script>
  <script src="../app/settings/config.js"></script>
  <script src="../app/windows/app-window.js"></script>
  <script src="../app/aplication.js"></script>
  <script src="../app/navigation/navigation-app.js"></script>


</head>

<body id="eui">

</body>

</html>